openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: 熊舍管家 MVP API
  version: 1.0.1
  summary: 熊舍管家 MVP 的 REST API 契约
  description: |
    面向 Flutter 客户端的模块化单体 REST API 草案。

    所有租户业务数据都由 Bearer 令牌中的认证上下文确定 owner_id；
    普通写请求体不接收 owner_id。状态迁移统一通过动作接口完成，
    客户端不得直接 PATCH state。

    除公开分享读取外，所有资源 ID 都先在认证 owner_id 范围内解析；
    不存在与跨 owner 资源统一返回 404，错误体不暴露其他账号的业务字段。

    写请求统一支持 Idempotency-Key。可并发编辑的资源通过 If-Match
    传入当前版本，响应同时返回 ETag 与资源 version。所有 date-time
    均以 UTC 传输，业务日期计算使用请求或当前熊舍的 IANA timezone。
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.scolvpet.cn/v1
    description: 生产环境
  - url: https://api-staging.scolvpet.cn/v1
    description: 预发布环境
tags:
  - name: 认证
    description: 手机验证码与会话
  - name: 账号
    description: 当前账号和当前熊舍
  - name: 物种规则
    description: 系统模板、舍主副本与历史规则版本
  - name: 仓鼠
    description: 仓鼠个体档案与批量建档
  - name: 家谱
    description: 家谱图、父母关系、窝次父母与窝次成员
  - name: 笼舍
    description: 笼盒和入住、移笼历史
  - name: 繁育
    description: 繁育计划、配对尝试、观察与状态动作
  - name: 窝次
    description: 窝次、临时幼崽、数量、断奶、分性分笼与个体化
  - name: 体重健康
    description: 克级体重和健康记录
  - name: 任务提醒
    description: 业务任务、逐项完成和提醒投递
  - name: 媒体
    description: 预签名上传、编辑派生、转码和封面
  - name: 分享
    description: 可撤销公开分享与无需认证的公开读取
  - name: 导入
    description: CSV 模板、上传、映射、预检、提交和逐行结果
  - name: 导出备份
    description: 异步导出、备份、下载和失败重试
  - name: 数据中心
    description: 数据中心摘要
  - name: 作业
    description: 通用异步作业状态
  - name: 用量
    description: 当前用量与历史快照
  - name: P1 成员
    description: 熊舍成员邀请、角色和撤销
  - name: P1 CRM
    description: 客户、预订和交付
  - name: P1 合同与回执
    description: 合同与回执模板、单据和签发
  - name: P1 记账
    description: 分类、流水与汇总
  - name: P1 遗传
    description: 遗传位点、档案和配对模拟
  - name: P1 推送
    description: 设备令牌与推送审计
  - name: P1 权益
    description: 套餐、用量门限和沙箱激活
  - name: P2 官网
    description: 公开主页配置、发布和匿名投影
  - name: P2 小程序
    description: 小程序配置与沙箱审核流水
  - name: P2 助手
    description: 只读数据助手
  - name: P2 借配
    description: 种公挂牌与跨舍借配履约
security:
  - bearerAuth: []
paths:
  /auth/verification-codes:
    post:
      tags: [认证]
      operationId: sendVerificationCode
      summary: 发送手机验证码
      description: 为登录目的发送验证码；相同手机号和用途受冷却时间与频率限制。
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestTimezone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVerificationCodeRequest'
            example:
              phone: '+8613800138000'
              purpose: login
      responses:
        '202':
          description: 验证码已受理发送
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCodeChallengeResponse'
              example:
                data:
                  verification_id: 018f47a2-2f7e-7f5d-a413-5bfe09a61f62
                  expires_in_seconds: 300
                  retry_after_seconds: 60
                meta:
                  request_id: req_01J0AUTH001
                  generated_at: '2026-07-16T01:00:00Z'
                  timezone: Asia/Shanghai
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/sessions:
    post:
      tags: [认证]
      operationId: createSession
      summary: 使用手机验证码登录
      description: 校验验证码并返回 Bearer 访问令牌、刷新令牌和当前个人熊舍。
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestTimezone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneCodeLoginRequest'
            example:
              phone: '+8613800138000'
              verification_id: 018f47a2-2f7e-7f5d-a413-5bfe09a61f62
              code: '482931'
              device:
                platform: ios
                device_name: iPhone
                app_version: 0.1.0
      responses:
        '201':
          description: 登录成功
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
              example:
                data:
                  token_type: Bearer
                  access_token: eyJhbGciOiJFUzI1NiJ9.example
                  expires_in_seconds: 3600
                  refresh_token: rt_01J0AUTH002
                  account:
                    id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    phone_masked: 138****8000
                    display_name: 林舍主
                  current_organization:
                    id: 018f47a2-3358-7e83-852e-4ac411980d60
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    name: 星河熊舍
                    mode: personal
                    timezone: Asia/Shanghai
                    weight_unit: g
                    version: 1
                    created_at: '2026-07-16T01:00:00Z'
                    updated_at: '2026-07-16T01:00:00Z'
                  member_role: owner
                  capabilities:
                    - member_role:owner
                    - tenant_scope
                    - offline_read_cache
                    - manage_members
                    - write_breeding
                    - write_litter
                    - write_hamster
                    - write_enclosure
                    - write_weight
                    - write_task
                    - write_health
                    - write_import
                    - write_media
                    - write_crm
                    - write_documents
                    - write_accounting
                    - write_growth
                meta:
                  request_id: req_01J0AUTH002
                  generated_at: '2026-07-16T01:00:00Z'
                  timezone: Asia/Shanghai
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/sessions/refresh:
    post:
      tags: [认证]
      operationId: refreshSession
      summary: 刷新当前会话
      description: 使用刷新令牌轮换访问令牌和刷新令牌，供客户端恢复认证 owner 上下文。
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestTimezone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSessionRequest'
      responses:
        '201':
          description: 会话刷新成功
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/sessions/current:
    delete:
      tags: [认证]
      operationId: deleteCurrentSession
      summary: 退出当前会话
      description: 使当前访问令牌与对应刷新令牌失效。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 会话已失效
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      tags: [账号]
      operationId: getCurrentAccount
      summary: 获取当前账号
      description: 返回认证账号、当前熊舍和会话能力。
      responses:
        '200':
          description: 当前账号
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentAccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /organizations/current:
    get:
      tags: [账号]
      operationId: getCurrentOrganization
      summary: 获取当前熊舍
      description: 当前熊舍由认证上下文选择。
      responses:
        '200':
          description: 当前熊舍
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [账号]
      operationId: updateCurrentOrganization
      summary: 更新当前熊舍
      description: 仅更新熊舍资料；owner_id 由认证上下文解析且不在请求体中出现。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
            example:
              name: 星河熊舍二号馆
              timezone: Asia/Shanghai
      responses:
        '200':
          description: 熊舍已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /species-rule-templates:
    get:
      tags: [物种规则]
      operationId: listSpeciesRuleTemplates
      summary: 列出系统物种规则模板
      description: 返回系统维护的只读模板，可复制为当前熊舍规则版本。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 物种规则模板列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeciesRuleVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /species-rule-versions:
    get:
      tags: [物种规则]
      operationId: listSpeciesRuleVersions
      summary: 列出当前熊舍规则版本
      description: 按 cursor 分页返回当前熊舍复制或创建的历史规则版本。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: species_code
          in: query
          required: false
          schema:
            type: string
          description: 按物种编码筛选
      responses:
        '200':
          description: 规则版本列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeciesRuleVersionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [物种规则]
      operationId: createSpeciesRuleVersion
      summary: 创建规则版本
      description: 可从系统模板复制并调整；历史繁育计划继续引用其原规则快照。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeciesRuleVersionCreateRequest'
      responses:
        '201':
          description: 规则版本已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeciesRuleVersionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /species-rule-versions/{rule_version_id}:
    parameters:
      - $ref: '#/components/parameters/RuleVersionId'
    get:
      tags: [物种规则]
      operationId: getSpeciesRuleVersion
      summary: 获取规则版本
      description: 返回单个规则版本及来源。
      responses:
        '200':
          description: 规则版本
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeciesRuleVersionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [物种规则]
      operationId: updateSpeciesRuleVersion
      summary: 更新尚未冻结的规则版本
      description: 已被繁育计划引用的规则版本保持只读，应创建新版本。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/SpeciesRuleVersionUpdateRequest'
      responses:
        '200':
          description: 规则版本已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeciesRuleVersionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /hamsters:
    get:
      tags: [仓鼠]
      operationId: listHamsters
      summary: 列出仓鼠
      description: 使用 cursor 分页；支持按状态、性别、笼盒和关键词筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: lifecycle_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/HamsterLifecycleStatus'
        - name: sex
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Sex'
        - name: enclosure_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
          description: 编号或昵称关键词
      responses:
        '200':
          description: 仓鼠列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HamsterListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [仓鼠]
      operationId: createHamster
      summary: 创建仓鼠档案
      description: owner_id 从认证上下文解析；父母关系写入 pedigree_parentage。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HamsterCreateRequest'
            example:
              internal_code: SY-2026-001
              name: 小云
              species_rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
              variety_code: syrian
              sex: female
              birth_date: '2026-05-20'
              source_type: introduced
              notes: 引入种母
      responses:
        '201':
          description: 仓鼠已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HamsterResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /hamsters/batch:
    post:
      tags: [仓鼠]
      operationId: batchCreateHamsters
      summary: 批量创建仓鼠
      description: 返回整体事务状态与逐项结果；每项使用 client_item_id 对齐客户端记录。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HamsterBatchCreateRequest'
      responses:
        '200':
          description: 批处理已完成，可能全部成功或部分失败
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HamsterBatchCreateResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /hamsters/{hamster_id}:
    parameters:
      - $ref: '#/components/parameters/HamsterId'
    get:
      tags: [仓鼠]
      operationId: getHamster
      summary: 获取仓鼠详情
      description: 返回档案、当前笼位和版本号。
      responses:
        '200':
          description: 仓鼠详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HamsterResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [仓鼠]
      operationId: updateHamster
      summary: 更新仓鼠档案
      description: 请求体不接受 owner_id、state 或父母快捷字段；父母变更走家谱关系接口。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/HamsterUpdateRequest'
      responses:
        '200':
          description: 仓鼠已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HamsterResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /hamsters/{hamster_id}/pedigree:
    parameters:
      - $ref: '#/components/parameters/HamsterId'
    get:
      tags: [家谱]
      operationId: getHamsterPedigree
      summary: 获取仓鼠家谱图
      description: 返回 pedigree_parentage 边、窝次父母与窝次成员推导出的统一关系图。
      parameters:
        - name: generations
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 8
            default: 4
      responses:
        '200':
          description: 家谱图
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedigreeGraphResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /pedigree-parentages:
    get:
      tags: [家谱]
      operationId: listPedigreeParentages
      summary: 列出家谱父母边
      description: 按子代、父母或有效期筛选 pedigree_parentage。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: child_hamster_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: parent_hamster_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 父母关系列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedigreeParentageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [家谱]
      operationId: createPedigreeParentage
      summary: 新增父母关系断言
      description: 服务端校验角色、性别和祖先环；关系修正保留审计链。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedigreeParentageCreateRequest'
      responses:
        '201':
          description: 父母关系已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedigreeParentageResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /pedigree-parentages/end:
    post:
      tags: [家谱]
      operationId: endPedigreeParentage
      summary: 解除当前有效父母关系
      description: |
        将 child+role 上当前 accepted 的 pedigree_parentage 标记为 superseded（valid_to=now），
        保留审计链。必须提供 correction_reason。不物理删除。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedigreeParentageEndRequest'
      responses:
        '200':
          description: 父母关系已解除（superseded）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedigreeParentageResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosures:
    get:
      tags: [笼舍]
      operationId: listEnclosures
      summary: 列出笼盒
      description: 使用 cursor 分页并支持状态、笼架和清洁状态筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EnclosureState'
        - name: rack_code
          in: query
          required: false
          schema:
            type: string
        - name: cleanliness_state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CleanlinessState'
      responses:
        '200':
          description: 笼盒列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [笼舍]
      operationId: createEnclosure
      summary: 创建笼盒
      description: 创建当前熊舍内唯一编号的笼盒。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnclosureCreateRequest'
      responses:
        '201':
          description: 笼盒已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosures/{enclosure_id}:
    parameters:
      - $ref: '#/components/parameters/EnclosureId'
    get:
      tags: [笼舍]
      operationId: getEnclosure
      summary: 获取笼盒详情
      description: 返回笼盒、当前占用和版本号。
      responses:
        '200':
          description: 笼盒详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [笼舍]
      operationId: updateEnclosure
      summary: 更新笼盒资料
      description: 修改编号、位置、笼内设施（跑轮、饮水器、食盆、躲避屋、垫材等）和清洁资料；占用事实通过入住资源维护。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/EnclosureUpdateRequest'
      responses:
        '200':
          description: 笼盒已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosures/{enclosure_id}/stays:
    parameters:
      - $ref: '#/components/parameters/EnclosureId'
    get:
      tags: [笼舍]
      operationId: listEnclosureStays
      summary: 列出笼盒入住历史
      description: 返回指定笼盒的入住、移笼和离开历史。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: active
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 入住历史
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureStayListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [笼舍]
      operationId: createEnclosureStay
      summary: 创建入住或移笼事实
      description: 校验目标笼盒容量、时段冲突和配对授权。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnclosureStayCreateRequest'
      responses:
        '201':
          description: 入住事实已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureStayResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosure-stays/{stay_id}:
    parameters:
      - $ref: '#/components/parameters/StayId'
    patch:
      tags: [笼舍]
      operationId: updateEnclosureStay
      summary: 结束或修正入住事实
      description: 可填写结束时间与修正原因；历史修正保留审计信息。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/EnclosureStayUpdateRequest'
      responses:
        '200':
          description: 入住事实已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureStayResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosures/{enclosure_id}/cleanings:
    parameters:
      - $ref: '#/components/parameters/EnclosureId'
    get:
      tags: [笼舍]
      operationId: listEnclosureCleanings
      summary: 列出笼盒清洁历史
      description: 返回清洁、消毒及纠错记录；历史记录只追加，不原地覆盖。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 清洁历史
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureCleaningListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [笼舍]
      operationId: createEnclosureCleaning
      summary: 记录笼盒清洁或消毒
      description: 追加清洁事实并更新笼盒清洁投影；纠错通过新记录引用原记录完成。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnclosureCleaningCreateRequest'
      responses:
        '201':
          description: 清洁事实已记录
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureCleaningResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /enclosure-cleanings/{cleaning_id}:
    get:
      tags: [笼舍]
      operationId: getEnclosureCleaning
      summary: 获取清洁记录
      parameters:
        - name: cleaning_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 清洁记录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnclosureCleaningResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /breeding-plans:
    get:
      tags: [繁育]
      operationId: listBreedingPlans
      summary: 列出繁育计划
      description: 使用 cursor 分页并按状态、父本、母本或日期筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BreedingPlanState'
        - name: sire_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: dam_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 繁育计划列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedingPlanListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [繁育]
      operationId: createBreedingPlan
      summary: 创建繁育计划草稿
      description: 新建计划固定为 draft；请求体不接受 state 或 owner_id。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreedingPlanCreateRequest'
      responses:
        '201':
          description: 繁育计划草稿已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedingPlanResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    get:
      tags: [繁育]
      operationId: getBreedingPlan
      summary: 获取繁育计划
      description: 返回计划、规则快照、亲缘检查和当前版本。
      responses:
        '200':
          description: 繁育计划详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedingPlanResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [繁育]
      operationId: updateBreedingPlan
      summary: 更新繁育计划资料
      description: 只更新非状态字段；客户端不得直接 PATCH state。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/BreedingPlanUpdateRequest'
      responses:
        '200':
          description: 繁育计划已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedingPlanResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/publish:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育]
      operationId: publishBreedingPlan
      summary: 发布繁育计划
      description: |
        校验父母资格、并行计划、规则版本与亲缘风险后，将 draft 推进到 pair_ready。
        仅允许当前状态为 draft；客户端不提交目标 state。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishBreedingPlanRequest'
            example:
              planned_pairing_at: '2026-07-18T12:00:00Z'
              pairing_enclosure_id: 018f47a2-4b10-77eb-a297-ad0e32886a35
              timezone: Asia/Shanghai
              kinship_override_reason: null
      responses:
        '200':
          description: 计划已发布
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishBreedingPlanResponse'
              example:
                data:
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    name: 小云 × 阿栗 2026-07
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: pair_ready
                    planned_pairing_at: '2026-07-18T12:00:00Z'
                    version: 2
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-07-16T02:10:00Z'
                  created_tasks:
                    - id: 018f47a2-51c6-70dc-bbbb-f9f2c9cf25fe
                      task_type: pair_prep
                      target_type: breeding_plan
                      target_id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                      scheduled_at: '2026-07-18T11:30:00Z'
                      priority: normal
                      state: pending
                      stage_total: 1
                      stage_done: 0
                      version: 1
                meta:
                  request_id: req_01J0BREED001
                  generated_at: '2026-07-16T02:10:00Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/start-pairing:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育]
      operationId: startPairing
      summary: 开始配对
      description: |
        仅允许当前状态为 pair_ready。原子创建 pairing_attempt、占用临时配对笼
        并推进到 pairing；任一父母资格或笼位守卫失败时不产生部分事实。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartPairingRequest'
            example:
              enclosure_id: 018f47a2-4b10-77eb-a297-ad0e32886a35
              started_at: '2026-07-18T12:03:00Z'
              timezone: Asia/Shanghai
              notes: 现场扫码开始
      responses:
        '200':
          description: 配对已开始
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartPairingResponse'
              example:
                data:
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: pairing
                    version: 3
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-07-18T12:03:00Z'
                  pairing_attempt:
                    id: 018f47a2-5b1d-753e-b75c-377f07cc7592
                    breeding_plan_id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    sequence: 1
                    enclosure_id: 018f47a2-4b10-77eb-a297-ad0e32886a35
                    started_at: '2026-07-18T12:03:00Z'
                    separation_deadline: '2026-07-18T12:33:00Z'
                    status: active
                    result: null
                    version: 1
                meta:
                  request_id: req_01J0BREED002
                  generated_at: '2026-07-18T12:03:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/pairing-attempts:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    get:
      tags: [繁育]
      operationId: listPairingAttempts
      summary: 列出计划的配对尝试
      description: 返回多次配对尝试及当前版本。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 配对尝试列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingAttemptListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /pairing-attempts/{attempt_id}:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
    get:
      tags: [繁育]
      operationId: getPairingAttempt
      summary: 获取配对尝试
      description: 返回配对时间、结果、分笼截止时间和版本。
      responses:
        '200':
          description: 配对尝试详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingAttemptResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /pairing-attempts/{attempt_id}/record-observation:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
    post:
      tags: [繁育]
      operationId: recordPairingObservation
      summary: 记录配对观察
      description: 在有效配对时间段内追加观察，不覆盖已有观察。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordObservationRequest'
            example:
              observed_at: '2026-07-18T12:12:00Z'
              type: mating
              duration_seconds: 14
              severity: info
              confidence: 0.9
              media_ids:
                - 018f47a2-5e60-7fc7-b29c-1f2d435f49cd
              notes: 观察到一次明确交配
      responses:
        '201':
          description: 观察已记录
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordObservationResponse'
              example:
                data:
                  observation:
                    id: 018f47a2-5f98-7919-9e8b-0b41c754f774
                    pairing_attempt_id: 018f47a2-5b1d-753e-b75c-377f07cc7592
                    observed_at: '2026-07-18T12:12:00Z'
                    type: mating
                    duration_seconds: 14
                    severity: info
                    confidence: 0.9
                    media_ids:
                      - 018f47a2-5e60-7fc7-b29c-1f2d435f49cd
                    notes: 观察到一次明确交配
                    created_at: '2026-07-18T12:12:04Z'
                  pairing_attempt_version: 2
                  baseline_candidate_at: '2026-07-18T12:12:00Z'
                meta:
                  request_id: req_01J0BREED003
                  generated_at: '2026-07-18T12:12:04Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /pairing-attempts/{attempt_id}/separate:
    parameters:
      - $ref: '#/components/parameters/AttemptId'
    post:
      tags: [繁育]
      operationId: separatePairing
      summary: 结束配对并完成分笼
      description: |
        仅允许 active 或 safety_hold 的配对尝试。
        原子关闭临时配对占用、登记双方去向并创建新入住事实。
        若笼盒冲突或只登记一方，整体失败且不释放配对笼。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeparatePairingRequest'
            example:
              ended_at: '2026-07-18T12:25:00Z'
              separated_at: '2026-07-18T12:26:00Z'
              result: effective
              sire_destination_enclosure_id: 018f47a2-6338-7952-9753-052621e1858e
              dam_destination_enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
              safety_stop: false
              timezone: Asia/Shanghai
              notes: 双方状态正常
      responses:
        '200':
          description: 分笼闭环已完成
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeparatePairingResponse'
              example:
                data:
                  pairing_attempt:
                    id: 018f47a2-5b1d-753e-b75c-377f07cc7592
                    breeding_plan_id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    sequence: 1
                    enclosure_id: 018f47a2-4b10-77eb-a297-ad0e32886a35
                    started_at: '2026-07-18T12:03:00Z'
                    ended_at: '2026-07-18T12:25:00Z'
                    separated_at: '2026-07-18T12:26:00Z'
                    separation_deadline: '2026-07-18T12:33:00Z'
                    status: separated
                    result: effective
                    sire_destination_enclosure_id: 018f47a2-6338-7952-9753-052621e1858e
                    dam_destination_enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
                    version: 3
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: post_pair
                    version: 4
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-07-18T12:26:01Z'
                  created_stays:
                    - id: 018f47a2-667d-73b8-a6bd-ab1cc561b203
                      enclosure_id: 018f47a2-6338-7952-9753-052621e1858e
                      hamster_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                      purpose: single
                      started_at: '2026-07-18T12:26:00Z'
                      version: 1
                    - id: 018f47a2-6785-7a1c-a275-ee74c578bd48
                      enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
                      hamster_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                      purpose: gestation
                      started_at: '2026-07-18T12:26:00Z'
                      version: 1
                  created_task_ids:
                    - 018f47a2-68b2-7c40-b5a7-a842ac19e0fa
                meta:
                  request_id: req_01J0BREED004
                  generated_at: '2026-07-18T12:26:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/start-gestation:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育]
      operationId: startGestationMonitoring
      summary: 从分笼后进入孕期观察
      description: |
        仅允许 post_pair。服务端校验至少一次 pairing_attempt 已闭环、结果为有效或待定、
        配对笼已释放，再计算预产区间、创建提醒并推进到 gestation。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartGestationRequest'
      responses:
        '200':
          description: 已进入孕期观察并生成预产区间
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartGestationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/adjust-baseline:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育]
      operationId: adjustBreedingBaseline
      summary: 修正配对基准时间
      description: |
        仅允许 gestation 或可恢复的 hold 状态。追加日期纠正事件，重算预产区间，
        并将旧提醒标记为 superseded；客户端不得提交重算后的日期或提醒集合。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustBaselineRequest'
            example:
              new_baseline_at: '2026-07-18T12:12:00Z'
              reason: 以明确交配观察作为新基准
              timezone: Asia/Shanghai
      responses:
        '200':
          description: 基准时间及提醒已重算
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustBaselineResponse'
              example:
                data:
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: gestation
                    mating_baseline_at: '2026-07-18T12:12:00Z'
                    expected_birth_start: '2026-08-03'
                    expected_birth_end: '2026-08-05'
                    version: 6
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-07-19T03:00:00Z'
                  superseded_reminder_ids:
                    - 018f47a2-6ca8-79fb-bade-fd05dc45f176
                    - 018f47a2-6d97-7c91-8b2f-92f90600c902
                  created_reminders:
                    - id: 018f47a2-6e84-7d5c-8e34-9479467b5326
                      rule_code: gestation_window_open
                      scheduled_at: '2026-08-03T00:00:00Z'
                      state: pending
                      channel_statuses: []
                    - id: 018f47a2-6f71-731d-a452-46bf63b7b9c7
                      rule_code: gestation_window_close
                      scheduled_at: '2026-08-05T00:00:00Z'
                      state: pending
                      channel_statuses: []
                meta:
                  request_id: req_01J0BREED005
                  generated_at: '2026-07-19T03:00:00Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/confirm-birth:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育, 窝次]
      operationId: confirmBirth
      summary: 确认产仔并建立窝次
      description: |
        仅允许 gestation 状态；同一计划只允许一个未撤销的生产事实。
        N>0 时幂等创建唯一有效 litter、初始数量流水及 N 条 pup_identity，并直接进入
        litter_nursing。N=0 时只记录无活仔生产结果并进入 no_litter_outcome，不创建
        litter、litter_count_event、pup_identity 或窝仔阶段任务。
        报喜卡或媒体任务失败不回滚产仔事实。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBirthRequest'
            example:
              born_at: '2026-08-04T02:30:00Z'
              enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
              initial_alive_count: 4
              initial_other_count: 1
              dam_condition:
                status: stable
                notes: 精神与进食正常
              temporary_code_prefix: L240804
              timezone: Asia/Shanghai
              outcome_reason: live_pups_observed
              notes: 发现 4 只活仔，另有 1 只死产
      responses:
        '201':
          description: 产仔事实、窝次和临时幼崽已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBirthResponse'
              example:
                data:
                  result_type: live_litter
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: litter_nursing
                    actual_birth_at: '2026-08-04T02:30:00Z'
                    version: 7
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-08-04T02:31:00Z'
                  litter:
                    id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    origin: breeding
                    code: SY-L-20260804-01
                    breeding_plan_id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    born_at: '2026-08-04T02:30:00Z'
                    initial_alive_count: 4
                    initial_other_count: 1
                    current_managed_count: 4
                    state: nursing
                    enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
                    dam_condition:
                      status: stable
                      notes: 精神与进食正常
                    version: 1
                    created_at: '2026-08-04T02:31:00Z'
                    updated_at: '2026-08-04T02:31:00Z'
                  pup_identity_count: 4
                  pup_identities:
                    - id: 018f47a2-73b3-762e-8498-07b13dc3b599
                      litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                      temporary_code: L240804-01
                      sex: unknown
                      outcome_status: alive
                      profile_status: unindividualized
                      version: 1
                    - id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                      litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                      temporary_code: L240804-02
                      sex: unknown
                      outcome_status: alive
                      profile_status: unindividualized
                      version: 1
                    - id: 018f47a2-7582-7330-a6e3-8340a40921c1
                      litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                      temporary_code: L240804-03
                      sex: unknown
                      outcome_status: alive
                      profile_status: unindividualized
                      version: 1
                    - id: 018f47a2-7676-70b5-82a9-a375defc0b9d
                      litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                      temporary_code: L240804-04
                      sex: unknown
                      outcome_status: alive
                      profile_status: unindividualized
                      version: 1
                  initial_count_event:
                    id: 018f47a2-7768-70a2-a016-c7c12ae48550
                    litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                    event_type: initial_alive
                    delta: 4
                    occurred_at: '2026-08-04T02:30:00Z'
                    reason: 初次确认活仔
                  celebration_job:
                    id: 018f47a2-7862-7129-b21f-e415c86bbf5c
                    job_type: birth_card
                    status: queued
                    progress_percent: 0
                    retryable: true
                    version: 1
                    created_at: '2026-08-04T02:31:00Z'
                    updated_at: '2026-08-04T02:31:00Z'
                meta:
                  request_id: req_01J0BREED006
                  generated_at: '2026-08-04T02:31:00Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /breeding-plans/{plan_id}/complete:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    post:
      tags: [繁育]
      operationId: completeBreedingPlan
      summary: 完成繁育计划
      description: |
        仅允许 individualizing。
        服务端确认数量、性别、笼位、家谱和阻塞任务全部闭合后推进到 completed，
        客户端不得提交目标状态或自行计算的对账数。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteBreedingPlanRequest'
            example:
              completed_at: '2026-09-05T03:00:00Z'
              timezone: Asia/Shanghai
              notes: 数量、分笼和谱系均已复核
      responses:
        '200':
          description: 繁育计划已完成
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteBreedingPlanResponse'
              example:
                data:
                  breeding_plan:
                    id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                    state: completed
                    actual_birth_at: '2026-08-04T02:30:00Z'
                    version: 12
                    created_at: '2026-07-16T02:00:00Z'
                    updated_at: '2026-09-05T03:00:00Z'
                  reconciliation:
                    initial_alive_count: 4
                    discovered_count: 1
                    deceased_count: 0
                    transferred_count: 0
                    expected_managed_count: 5
                    unindividualized_alive_count: 0
                    individualized_alive_count: 5
                    difference: 0
                    closed: true
                  completed_at: '2026-09-05T03:00:00Z'
                meta:
                  request_id: req_01J0BREED007
                  generated_at: '2026-09-05T03:00:00Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /litters:
    get:
      tags: [窝次]
      operationId: listLitters
      summary: 列出窝次
      description: 使用 cursor 分页并支持状态、父母和出生日期筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/LitterState'
        - name: born_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: born_to
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 窝次列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LitterListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /litters/{litter_id}:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    get:
      tags: [窝次]
      operationId: getLitter
      summary: 获取窝次详情
      description: 返回数量对账、临时幼崽摘要和版本号。
      responses:
        '200':
          description: 窝次详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LitterResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /litters/{litter_id}/parents:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    get:
      tags: [家谱]
      operationId: listLitterParents
      summary: 获取窝次父母关系
      description: 返回 litter_parent 关系。
      responses:
        '200':
          description: 窝次父母关系
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LitterParentListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [家谱]
      operationId: createLitterParent
      summary: 新增或纠正窝次父母关系
      description: 校验角色和祖先环，并保留关系断言来源。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LitterParentCreateRequest'
      responses:
        '201':
          description: 窝次父母关系已创建
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LitterParentResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /litters/{litter_id}/members:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    get:
      tags: [家谱, 窝次]
      operationId: listLitterMembers
      summary: 列出窝次成员
      description: 返回 litter_member，对临时幼崽或正式 hamster 二选一关联。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 窝次成员列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LitterMemberListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /litters/{litter_id}/pup-identities:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    get:
      tags: [窝次]
      operationId: listPupIdentities
      summary: 列出临时幼崽
      description: 返回未个体化及已映射幼崽身份。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: outcome_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PupOutcomeStatus'
        - name: profile_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PupProfileStatus'
      responses:
        '200':
          description: 临时幼崽列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PupIdentityListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /litters/{litter_id}/count-events:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    post:
      tags: [窝次]
      operationId: createLitterCountEvent
      summary: 追加窝仔数量事件
      description: 追加数量流水；根据后补发现或关闭原因同步临时幼崽身份。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustLitterCountRequest'
            example:
              event_type: discovered
              delta: 1
              occurred_at: '2026-08-05T01:00:00Z'
              reason: 清点时后补发现一只
              new_temporary_codes:
                - L240804-05
      responses:
        '200':
          description: 数量流水和临时身份已同步
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustLitterCountResponse'
              example:
                data:
                  litter:
                    id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                    owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                    origin: breeding
                    code: SY-L-20260804-01
                    breeding_plan_id: 018f47a2-4e63-7cc4-80b4-94a589917a36
                    sire_id: 018f47a2-4fe7-7823-8e1b-672ee718b014
                    dam_id: 018f47a2-50bf-7489-ab99-8fcce45842a0
                    born_at: '2026-08-04T02:30:00Z'
                    initial_alive_count: 4
                    initial_other_count: 1
                    current_managed_count: 5
                    state: nursing
                    enclosure_id: 018f47a2-6450-7f54-8851-050a3d63846f
                    dam_condition:
                      status: stable
                      notes: 精神与进食正常
                    version: 2
                    created_at: '2026-08-04T02:31:00Z'
                    updated_at: '2026-08-05T01:00:01Z'
                  count_event:
                    id: 018f47a2-7e24-78c1-b676-b5eadc5bd81a
                    litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                    event_type: discovered
                    delta: 1
                    occurred_at: '2026-08-05T01:00:00Z'
                    reason: 清点时后补发现一只
                  created_pup_identities:
                    - id: 018f47a2-7f19-7bad-b7b0-c1c4a789fab4
                      litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                      temporary_code: L240804-05
                      sex: unknown
                      outcome_status: alive
                      profile_status: unindividualized
                      version: 1
                  closed_pup_identity_ids: []
                  reconciliation:
                    initial_alive_count: 4
                    discovered_count: 1
                    deceased_count: 0
                    transferred_count: 0
                    expected_managed_count: 5
                    unindividualized_alive_count: 5
                    individualized_alive_count: 0
                    difference: 0
                    closed: false
                meta:
                  request_id: req_01J0LITTER001
                  generated_at: '2026-08-05T01:00:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /litters/{litter_id}/wean:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    post:
      tags: [窝次]
      operationId: weanLitter
      summary: 完成断奶
      description: |
        仅允许 weaning_due；对服务端计算的当前在管幼崽逐项提交生存/离舍结果并校验去向。
        断奶动作不接受或修改 profile_status，个体化进度仅由 individualize 动作推进。
        缺少当前在管身份、包含已关闭身份或笼位冲突时整体不推进状态。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeanLitterRequest'
            example:
              weaned_at: '2026-08-25T02:00:00Z'
              timezone: Asia/Shanghai
              items:
                - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                  outcome_status: alive
                  destination_enclosure_id: 018f47a2-81bf-72b2-8990-79310bde2638
                - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                  outcome_status: alive
                  destination_enclosure_id: 018f47a2-81bf-72b2-8990-79310bde2638
      responses:
        '200':
          description: 断奶已完成
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeanLitterResponse'
              example:
                data:
                  litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                  litter_state: sexing_due
                  weaned_at: '2026-08-25T02:00:00Z'
                  processed_count: 5
                  item_results:
                    - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                      status: succeeded
                    - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                      status: succeeded
                  created_task_ids:
                    - 018f47a2-83e8-795f-a0d2-04fc6630cb2f
                  version: 3
                meta:
                  request_id: req_01J0LITTER002
                  generated_at: '2026-08-25T02:00:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /litters/{litter_id}/sex-and-separate:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    post:
      tags: [窝次]
      operationId: sexAndSeparateLitter
      summary: 分性并分笼
      description: |
        仅允许 sexing_due；逐项提交性别、置信度和目标笼盒。服务端验证完整在管集合、
        异性混笼、容量和待复核安排，客户端不得提交目标状态。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SexAndSeparateRequest'
            example:
              separated_at: '2026-08-27T02:00:00Z'
              timezone: Asia/Shanghai
              items:
                - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                  sex: male
                  sex_confidence: 0.98
                  destination_enclosure_id: 018f47a2-8620-73ef-823e-03f187be47a2
                  requires_recheck: false
                - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                  sex: unknown
                  sex_confidence: 0.45
                  destination_enclosure_id: 018f47a2-8712-7863-ab76-9a6614ef3e2b
                  requires_recheck: true
      responses:
        '200':
          description: 分性分笼已完成或进入待复核安排
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SexAndSeparateResponse'
              example:
                data:
                  litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                  litter_state: individualizing
                  separated_at: '2026-08-27T02:00:00Z'
                  processed_count: 5
                  uncertain_count: 1
                  item_results:
                    - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                      status: succeeded
                      enclosure_stay_id: 018f47a2-8915-76c5-a87f-61ce11393494
                    - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                      status: succeeded_with_warning
                      enclosure_stay_id: 018f47a2-8a0b-7045-8d57-dda69b7e006b
                  created_task_ids:
                    - 018f47a2-8b14-7f77-98ef-b5000ec78a8b
                  version: 4
                meta:
                  request_id: req_01J0LITTER003
                  generated_at: '2026-08-27T02:00:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /litters/{litter_id}/individualization-eligibility:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    get:
      tags: [窝次, 仓鼠, 家谱]
      operationId: getLitterIndividualizationEligibility
      summary: 获取服务端个体化 eligible set
      description: |
        服务端根据窝次状态、数量账、幼崽存活状态、断奶、性别复核和有效笼位，
        计算本次必须完整转换的 pup_identity 集合。返回的 eligible_set_token 绑定
        当前 litter version 与有序身份集合；任何相关事实变化都会使旧 token 失效。
      responses:
        '200':
          description: 个体化资格集合与阻塞原因
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualizationEligibilityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /litters/{litter_id}/individualize:
    parameters:
      - $ref: '#/components/parameters/LitterId'
    post:
      tags: [窝次, 仓鼠, 家谱]
      operationId: individualizeLitter
      summary: 将临时幼崽个体化
      description: |
        仅允许 individualizing。服务端重新计算完整 eligible set，并要求请求 token、
        items 的身份集合与该集合完全一致；缺项、多项、重复项、失效 token 或任一阻塞项
        均拒绝整批请求。通过后原子一对一转换为 hamster，建立 litter_member 与
        pedigree_parentage，并返回服务端数量对账。客户端不提交目标状态或目标数量。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualizeLitterRequest'
            example:
              individualized_at: '2026-09-01T02:00:00Z'
              timezone: Asia/Shanghai
              eligible_set_token: elig_v4_2c54b21e2fdb6ad3
              items:
                - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                  internal_code: SY-2026-L01-01
                  name: 星一
                  variety_code: syrian
                - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                  internal_code: SY-2026-L01-02
                  name: 星二
                  variety_code: syrian
      responses:
        '200':
          description: 个体化已原子完成
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualizeLitterResponse'
              example:
                data:
                  litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                  evaluated_eligible_set_token: elig_v4_2c54b21e2fdb6ad3
                  evaluated_eligible_count: 2
                  mappings:
                    - pup_identity_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                      hamster:
                        id: 018f47a2-8f51-7406-b341-c41124515a2d
                        owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                        internal_code: SY-2026-L01-01
                        name: 星一
                        species_rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                        variety_code: syrian
                        sex: male
                        birth_date: '2026-08-04'
                        source_type: born_here
                        lifecycle_status: active
                        breeding_status: candidate
                        litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                        version: 1
                        created_at: '2026-09-01T02:00:01Z'
                        updated_at: '2026-09-01T02:00:01Z'
                    - pup_identity_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                      hamster:
                        id: 018f47a2-9051-79c5-b383-2372dd458e4d
                        owner_id: 018f47a2-31dc-7e1d-9f69-3b77e4c55d11
                        internal_code: SY-2026-L01-02
                        name: 星二
                        species_rule_version_id: 018f47a2-3e3b-7e40-9665-12cd57082cf0
                        variety_code: syrian
                        sex: female
                        birth_date: '2026-08-04'
                        source_type: born_here
                        lifecycle_status: active
                        breeding_status: candidate
                        litter_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                        version: 1
                        created_at: '2026-09-01T02:00:01Z'
                        updated_at: '2026-09-01T02:00:01Z'
                  created_litter_member_count: 2
                  created_parentage_count: 4
                  reconciliation:
                    initial_alive_count: 4
                    discovered_count: 1
                    deceased_count: 0
                    transferred_count: 0
                    expected_managed_count: 5
                    unindividualized_alive_count: 3
                    individualized_alive_count: 2
                    difference: 0
                    closed: false
                  litter_version: 5
                meta:
                  request_id: req_01J0LITTER004
                  generated_at: '2026-09-01T02:00:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /weight-records:
    get:
      tags: [体重健康]
      operationId: listWeightRecords
      summary: 列出体重记录
      description: 按仓鼠、临时幼崽、窝次和时间范围筛选，使用 cursor 分页。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: hamster_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: pup_identity_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: litter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: recorded_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: recorded_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 体重记录列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeightRecordListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [体重健康]
      operationId: createWeightRecord
      summary: 创建体重记录
      description: 原始克值只追加；服务端保存出生和上次体重比较快照。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeightRecordCreateRequest'
      responses:
        '201':
          description: 体重记录已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeightRecordResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /weight-records/batch:
    post:
      tags: [体重健康]
      operationId: batchCreateWeightRecords
      summary: 批量创建体重记录
      description: 返回逐项成功、失败与告警结果，适用于整窝逐只称重。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeightRecordBatchCreateRequest'
      responses:
        '200':
          description: 批量称重已处理
          headers:
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeightRecordBatchCreateResponse'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /health-records:
    get:
      tags: [体重健康]
      operationId: listHealthRecords
      summary: 列出健康记录
      description: 按仓鼠、窝次、类型和发生时间筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: hamster_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: litter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/HealthRecordType'
      responses:
        '200':
          description: 健康记录列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthRecordListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [体重健康]
      operationId: createHealthRecord
      summary: 创建健康记录
      description: 仓鼠或窝次至少关联一项；通知副作用不影响记录落库。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthRecordCreateRequest'
      responses:
        '201':
          description: 健康记录已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthRecordResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /health-records/{health_record_id}:
    parameters:
      - $ref: '#/components/parameters/HealthRecordId'
    get:
      tags: [体重健康]
      operationId: getHealthRecord
      summary: 获取健康记录
      description: 返回结构化检查、用药、媒体和版本。
      responses:
        '200':
          description: 健康记录
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthRecordResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [体重健康]
      operationId: updateHealthRecord
      summary: 更新健康记录
      description: 通过 If-Match 修正备注、结构化检查、媒体或复查时间。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/HealthRecordUpdateRequest'
      responses:
        '200':
          description: 健康记录已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthRecordResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks:
    get:
      tags: [任务提醒]
      operationId: listTasks
      summary: 列出任务
      description: 使用 cursor 分页，支持状态、优先级、目标和时间范围筛选。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskState'
        - name: priority
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: target_type
          in: query
          required: false
          schema:
            type: string
        - name: due_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 任务列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [任务提醒]
      operationId: createTask
      summary: 创建手工任务
      description: 系统生成任务也使用同一资源模型；关闭系统通知不影响任务存在。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareTaskCreateRequest'
      responses:
        '201':
          description: 任务已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks/{task_id}:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      tags: [任务提醒]
      operationId: getTask
      summary: 获取任务
      description: 返回阶段进度、关联对象和版本。
      responses:
        '200':
          description: 任务详情
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [任务提醒]
      operationId: updateTask
      summary: 更新任务非状态字段
      description: 可修改计划时间、优先级、标题和备注；完成状态走 complete 动作。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/CareTaskUpdateRequest'
      responses:
        '200':
          description: 任务已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks/{task_id}/complete:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    post:
      tags: [任务提醒]
      operationId: completeTask
      summary: 完成任务或逐项完成任务成员
      description: 支持整窝任务逐只完成；全部 subject 完成或登记例外后任务自动关闭。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteTaskRequest'
            example:
              completed_at: '2026-08-10T02:00:00Z'
              subject_results:
                - subject_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                  status: completed
                  completion_record_id: 018f47a2-951e-7123-a5b3-1ade38a2b49e
                - subject_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                  status: excepted
                  exception_reason: 当日医疗观察，延后称重
              notes: 本次完成 2 项
      responses:
        '200':
          description: 任务进度已更新
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteTaskResponse'
              example:
                data:
                  task:
                    id: 018f47a2-96a7-7e37-a202-cefdc69456ce
                    task_type: pup_weight_check
                    target_type: litter
                    target_id: 018f47a2-72b3-76d8-b31f-5848c42bb577
                    scheduled_at: '2026-08-10T00:00:00Z'
                    priority: high
                    state: in_progress
                    stage_total: 5
                    stage_done: 2
                    version: 3
                  item_results:
                    - subject_id: 018f47a2-73b3-762e-8498-07b13dc3b599
                      status: succeeded
                      completion_record_id: 018f47a2-951e-7123-a5b3-1ade38a2b49e
                    - subject_id: 018f47a2-748c-7d2d-a19f-ab53e616d7d8
                      status: succeeded_with_exception
                  auto_closed: false
                meta:
                  request_id: req_01J0TASK001
                  generated_at: '2026-08-10T02:00:01Z'
                  timezone: Asia/Shanghai
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks/{task_id}/cancel:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    post:
      tags: [任务提醒]
      operationId: cancelTask
      summary: 取消任务
      description: |
        取消一个不会再执行的任务，必须填写原因。已完成或已取消的任务不能直接取消，
        需先调用 reopen 撤销。原因写入 care_task.cancellation_reason 并记入
        CARE_TASK_CANCELLED 领域事件，任务本身不物理删除。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCorrectionRequest'
            example:
              reason: 该窝已转出，无需再称重
      responses:
        '200':
          description: 任务已取消
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks/{task_id}/reopen:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    post:
      tags: [任务提醒]
      operationId: reopenTask
      summary: 撤销任务的完成或取消
      description: |
        把已完成或已取消的任务退回 pending，用于纠正误点完成/误取消，必须填写原因。
        subject 级完成痕迹一并清除，否则任务显示待办而每个成员仍标记已完成。
        原因记入 CARE_TASK_REOPENED 领域事件。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCorrectionRequest'
            example:
              reason: 误点完成，实际尚未称重
      responses:
        '200':
          description: 任务已退回待办
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotency-Key:
              $ref: '#/components/headers/IdempotencyKey'
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTaskResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /reminders:
    get:
      tags: [任务提醒]
      operationId: listReminders
      summary: 列出提醒
      description: 返回站内提醒及各通知通道投递状态。
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ReminderState'
        - name: rule_code
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 提醒列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reminders/{reminder_id}:
    parameters:
      - $ref: '#/components/parameters/ReminderId'
    get:
      tags: [任务提醒]
      operationId: getReminder
      summary: 获取提醒
      description: 返回提醒规则、基准事件和多通道投递状态。
      responses:
        '200':
          description: 提醒详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReminderResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /media/uploads/presign:
    post:
      tags: [媒体]
      operationId: presignMediaUpload
      summary: 创建媒体预签名上传
      description: 生成对象存储上传地址；支持图片与短视频。
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
